/* RESET */

html, body, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}


/* CANVAS STYLING */
body {
  background: black;
}

#canvas {
  background-image: url('../images/background.jpg');
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 50px;
  color: white;
}


/* FOOTER */

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  padding: 15px;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}

li > a {
  color: white;
}


i {
  padding-right: 10px;
}


/* START, WINNER & TRY AGAIN MODALS */

#start-modal, #try-again-modal, #winner-modal {
  position: fixed;
  margin: 0 auto;
  background: black;
  color: white;
  text-align: center;
  top: 355px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

#start-modal > h2, #try-again-modal  > h2,
#winner-modal > h1, #winner-modal > h2 {
  font-family: "Orbitron", sans-serif;
}

#winner-modal {
  padding: 30px 0 30px 0;
}

#start-modal > p {
  text-align: left;
  margin: 10px 20px 10px 20px;
  font-size: 19px;
  font-family: 'Titillium Web';
}

#try-again-modal  > p {
  text-align: center;
  margin: 10px 20px 10px 20px;
  font-size: 19px;
  font-family: 'Titillium Web';
}

#start-modal > button, #try-again-modal > button {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  background: #282d2d;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  outline-color: #e2701e;
}

#start-modal > button:hover, #try-again-modal > button:hover {
  cursor: pointer;
  background: #222626;
  transition: background 0.3s ease;
}

.hidden {
  display: none !important;
}


/* HEALTH METER BAR */

.canvas-and-meter-container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}

.health-meter-and-level-container {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 760px;
}

.health-meter-label-and-bar > label {
  font-family: 'Orbitron';
  color: white;
  text-align: left;
}

.health-meter-bar {
  width: 250px;
  height: 18px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

#health-level {
  background-color: #41b916;
  height: 18px;
}


/* GAME LEVEL INDICATOR */

#level {
  font-family: 'Orbitron';
  color: white;
  text-transform: uppercase;
}


/* MUSIC TOGGLE */

.music-toggle {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: white;
}

.music-toggle > i {
  cursor: pointer;
}
